@model APPO.Models.Usuarios

@{
    ViewBag.Title = "DetallesUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallesUsuarios</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto_dni_frente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto_dni_frente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto_dni_dorso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto_dni_dorso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Modificar", new { id = Model.dni }) |
    @Html.ActionLink("Back to List", "Index")
</p>
