@model IEnumerable<APPO.Models.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto_dni_frente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto_dni_dorso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto_dni_frente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto_dni_dorso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Editar", "Modificar", new { id=item.dni }) |
            @Html.ActionLink("Detalles", "DetallesUsuarios", new { id=item.dni }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.dni }, new { @class = "elimina" })
        </td>
    </tr>
}

</table>

@section scripts
{
    <script>
        $(".elimina").click(function (event)){
            if (!confirm("¿Estás seguro de que quieres eliminar el registro seleccionado?")) {
                event.preventDefault();
            }
        }
    </script>
}