@model IEnumerable<APPO.Models.TiposCuentas>

@{
    ViewBag.Title = "DetallesTiposCuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallesTiposCuentas</h2>

<p>
    @Html.ActionLink("Create New", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id_tipo_cuenta }) |
            @Html.ActionLink("Detalles", "DetallesTiposCuentas", new { id=item.id_tipo_cuenta }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.id_tipo_cuenta })
        </td>
    </tr>
}

</table>
